body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  padding-top: 220px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.conteiner {
  margin: 0 auto;
  width: 1310px;
}

h1 {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 70px;
  text-align: center;
  color: rgba(81, 80, 118, 1);
  margin-bottom: 110px;
}

.card {
  width: 340px;
  background-color: rgba(247, 247, 250, 1);
  color: rgba(81, 80, 118, 1);
  padding: 25px;
}

.card_img {
  margin: 0;
  margin-bottom: 30px;
}

img {
  width: 100%;
}

.card_subtitle {
  font-size: 12px;
  color: rgba(165, 163, 185, 1);
  margin-bottom: 5px;
}

.card_title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.card_descr {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
}

.card_compound_text {
  font-size: 13px;
  margin-bottom: 5px;
}

.card_compound_item {
  font-size: 13px;
  margin-bottom: 5px;
}

.card_compound_list {
  margin: 0;
  padding-left: 15px;
  list-style-type: circle;
}

.card_price_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.card_price_text {
  font-weight: 700;
  font-size: 20px;
}

.card_price {
  font-size: 20px;
}

.product_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  background-image: url("images/bg-dandelios.png");
  background-size: 790px 697px;
  background-repeat: no-repeat;
  background-position: 85px 0;
}